<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="checkout">
            <module name="Casio_LotterySale" before="Magento_Checkout"/>
        </route>
        <route id="sales">
            <module name="Casio_LotterySale" before="Casio_OrderHistory"/>
        </route>
    </router>
</config>
