<?xml version="1.0"?>
<!--
/**
 * Candere Software
 *
 * @category PG
 * @package  Scheme
 * @author Candere
 * @copyright Candere Pvt. Ltd. (https://www.candere.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="KalyanUs_Core::main" title="Kalyan US Menu" sortOrder="10" >
                    <resource id="KalyanUs_Scheme::parent" title="Scheme" sortOrder="10" >
                        <resource id="KalyanUs_Scheme::enrollment" title="Scheme Enrollment" sortOrder="10" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="KalyanUs_Scheme::config" title="Scheme"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
