<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="scheme_login_api_initialize" instance="KalyanUs\Scheme\Observer\CustomerLogin"/>
    </event>
    <event name="scheme_installament_payment_complete_after">
        <observer name="sen_scheme_payment_to_api" instance="KalyanUs\Scheme\Observer\SchemeInstallmentAfter"/>
    </event>
</config>
