<!--@subject【CASIOオンラインストア】{{var sku}} 抽選販売お申込受付のお知らせ @-->
<!--@vars {
"var sku":"sku",
"var draw_history_url":"Draw History Url",
"var lottery_code":"Lottery Code",
"var lottery_date":"Lottery Date",
"var full_name":"FullName"
} @-->

{{var full_name}}様

この度は{{var sku}}の抽選販売にお申込いただきありがとうございます。
お申込を受け付けましたのでお知らせいたします。

対象商品：{{var sku}}
抽選番号：{{var lottery_code}}
当選発表予定日：{{var lottery_date}}

お申込状況、抽選結果はマイページにてご確認ください。
{{var draw_history_url}}


＜抽選結果のご連絡について＞
・抽選結果はマイページにてご確認ください。
・落選の場合はマイページでのお知らせのみでメールによる通知は行っておりません。
・当選の場合はマイページでのお知らせと、メールによるお知らせを送信させていただきます。
※登録アドレスが携帯電話またはスマートフォンの方は、あらかじめ「@casio.info」
からのメール受信を許可しておいてください。


＜ご注意事項＞
・お申込はおひとり様1回、かつ1点までとさせていただきます。
・同一氏名、住所の複数のお申込は無効とさせていただきます。
・不良品を除く返品、交換はお受けできかねますので予めご了承ください。
・抽選予定数に満たない場合、通常商品として販売する場合があります。
・予告なく発売日、商品に関して変更する場合がございます。
・抽選販売のため、先着順ではございません。応募期間中にご応募いただいた方全員が抽選対象となります。
・当選の権利は応募者ご本人のものとし、第三者への権利譲渡はできません。

※なお、下記条件に当てはまる場合には、応募資格は取り消しとさせていただきます。
①当選発表前までに退会された場合
②ご応募際に登録いただいた情報に、虚偽の内容が含まれる場合
③その他、弊社が不正と判断した場合
