<?xml version="1.0"?>
<!--
/**
 * Candere Software
 *
 * @category PG
 * @package  Scheme
 * @author Candere
 * @copyright Candere Pvt. Ltd. (https://www.candere.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="scheme" frontName="scheme">
            <module name="KalyanUs_Scheme" before="Magento_Adminhtml" />
        </route>
    </router>
</config>
