/**
 * Candere Software
 *
 * @category PG
 * @package  Scheme
 * @author Candere
 * @copyright Candere Pvt. Ltd. (https://www.candere.com/)
 */

/* @import url("https://use.typekit.net/ddc5cje.css"); */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c0BXOCl9bbnla_nHIq6oGzilJm9otsA9kQmfdq6A.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTQ7Q.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFiNTQ7Q.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFs9UQ7Q.ttf) format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFvZUQ7Q.ttf) format('truetype');
}

.heading_1 {
  font-family: "Cormorant", serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 1.54;
  font-feature-settings: "pnum" on, "lnum" on;
}

@media (max-width: 768px) {
  .heading_1 {
    font-size: 37px;
    line-height: 1.54;
  }
}

.heading_2 {
  font-family: "Cormorant", serif;
  font-weight: 500;
  font-size: 33px;
  line-height: 1.55;
  font-feature-settings: "pnum" on, "lnum" on;
}

@media (max-width: 768px) {
  .heading_2 {
    font-size: 29px;
    line-height: 1.59;
  }
}

.heading_3 {
  font-family: "Cormorant", serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.58;
  font-feature-settings: "pnum" on, "lnum" on;
}

@media (max-width: 768px) {
  .heading_3 {
    font-size: 23px;
    line-height: 1.61;
  }
}

.heading_4 {
  font-family: lato, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.28;
}

@media (max-width: 768px) {
  .heading_4 {
    font-size: 31px;
    line-height: 1.32;
  }
}

.heading_5 {
  font-family: lato, sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.33;
}

@media (max-width: 768px) {
  .heading_5 {
    font-size: 25px;
    line-height: 1.32;
  }
}

.heading_6 {
  font-family: lato, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.15px;
}

@media (max-width: 768px) {
  .heading_6 {
    font-size: 18px;
    line-height: 1.67;
  }
}

.sub_heading_1,
.selection_chip_group .selection_chip.selected span,
.selection_chip_group .selection_chip.selected span {
  font-family: lato, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.sub_heading_2,
.alert_,
.alert_ {
  font-family: lato, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.1px;
}

.body_1 {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.5px;
}

.body_1+.body_1 {
  margin-top: 8px;
}

.body_2,
.accordion_,
.selection_chip_group .selection_chip span,
.input_group_container .input_group_ .input_type_text,
.input_group_container .input_group_:hover .input_type_text,
.input_group_container .input_group_.error_ .input_type_text,
.input_group_container .input_group_.disabled .input_type_text,
.input_group_container .textarea_group_ .input_textarea,
.input_group_container .textarea_group_.error_,
.custome_select .type_select,
.custome_select #country,
.custome_select.active,
.custome_select.disabled,
.custome_date_input .type_date,
.custome_date_input.active,
.custome_date_input.disabled,
.custome_input_container .input_balel,
.accordion_,
.selection_chip_group .selection_chip span,
.input_group_container .input_group_ .input_type_text,
.input_group_container .input_group_:hover .input_type_text,
.input_group_container .input_group_.error_ .input_type_text,
.input_group_container .input_group_.disabled .input_type_text,
.input_group_container .textarea_group_ .input_textarea,
.input_group_container .textarea_group_.error_,
.custome_select .type_select,
.custome_select #country,
.custome_select.active,
.custome_select.disabled,
.custome_date_input .type_date,
.custome_date_input.active,
.custome_date_input.disabled,
.custome_input_container .input_balel {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.25px;
}

.body_2+.body_2 {
  margin-top: 8px;
}

.body_3,
.chip_group .chip_ span,
.input_group_container .input_group_ .label_,
.input_group_container .input_group_.error_ .input_error,
.input_group_container .textarea_group_ .label_,
.custome_select .label_,
.custome_date_input .label_,
.chip_group .chip_ span,
.input_group_container .input_group_ .label_,
.input_group_container .input_group_.error_ .input_error,
.input_group_container .textarea_group_ .label_,
.custome_select .label_,
.custome_date_input .label_ {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.1px;
}

.body_4,
.breadcrumbs_ ul li a,
.breadcrumbs_ ul li span,
.input_group_container .input_group_ .input_message,
.input_group_container .textarea_group_ .input_message,
.breadcrumbs_ ul li a,
.breadcrumbs_ ul li span,
.input_group_container .input_group_ .input_message,
.input_group_container .textarea_group_ .input_message {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.caption_ {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: 0.4px;
}

.overline {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 2.5px;
}

.__btn,
.action_btn_1,
.action_btn_2,
.base_btn,
.base_btn.btn_sm,
.base_btn,
.base_btn.btn_sm {
  font-family: lato, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.action_btn_1,
.base_btn,
.base_btn {
  font-size: 14px;
  line-height: 1.43;
}

.action_btn_2,
.base_btn.btn_sm,
.base_btn.btn_sm {
  font-size: 12px;
  line-height: 1.56;
}

.__link,
.link_1,
.link_2 {
  font-family: lato, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 1.15px;
}

.link_1 {
  font-weight: 400;
}

.link_2 {
  font-weight: 500;
  text-decoration-line: underline;
}

.blog_initial_character {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 120px;
  line-height: 0.84;
}

@media (max-width: 768px) {
  .blog_initial_character {
    font-size: 100px;
  }
}

.blog_banner_title {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .blog_banner_title {
    font-size: 40px;
  }
}

.blog_banner_title_2 {
  font-family: lato, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .blog_banner_title_2 {
    font-size: 28px;
  }
}

.blog_subheading {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  font-feature-settings: "pnum" on, "lnum" on;
}

@media (max-width: 768px) {
  .blog_subheading {
    font-size: 24px;
  }
}

.blog_paragraph {
  font-family: lato, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.25px;
}

@media (max-width: 768px) {
  .blog_paragraph {
    font-size: 18px;
  }
}

.blog_quote {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  font-style: italic;
}

@media (max-width: 768px) {
  .blog_quote {
    font-size: 18px;
  }
}

.blog_card_title {
  font-family: lato, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.25px;
}

@media (max-width: 768px) {
  .blog_card_title {
    font-size: 16px;
    line-height: 1.62;
  }
}

.blog_card_body {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.25px;
}

.blog_banner_tag {
  font-family: lato, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 3px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .blog_banner_tag {
    font-size: 12px;
    line-height: 1.5;
  }
}

.d_flex,
.accordion_,
.alert_,
.alert_.error_ .error_icon,
.alert_.success_ .success_icon,
.alert_.info_ .info_icon,
.breadcrumbs_ ul,
.base_btn.btn_lg,
.base_btn.btn_md,
.base_btn.btn_md,
.base_btn.btn_sm,
.base_btn.btn_sm,
.chip_group,
.chip_group .chip_,
.chip_group .chip_ a,
.selection_chip_group,
.selection_chip_group .selection_chip,
.selection_chip_group .selection_chip .icon_,
.password_container .showHide_icon,
.password_container .showHide_icon .hide_password,
.input_group_container,
.input_group_container .input_group_,
.input_group_container .textarea_group_,
.input_group_container .textarea_group_ .input_textarea,
.custome_select,
.custome_select .type_select,
.custome_select #country,
.custome_date_input,
.custome_date_input .type_date,
.custome_input_container,
.accordion_,
.alert_,
.alert_.error_ .error_icon,
.alert_.success_ .success_icon,
.alert_.info_ .info_icon,
.breadcrumbs_ ul,
.base_btn.btn_lg,
.base_btn.btn_md,
.base_btn.btn_md,
.base_btn.btn_sm,
.base_btn.btn_sm,
.chip_group,
.chip_group .chip_,
.chip_group .chip_ a,
.selection_chip_group,
.selection_chip_group .selection_chip,
.selection_chip_group .selection_chip .icon_,
.password_container .showHide_icon,
.password_container .showHide_icon .hide_password,
.input_group_container,
.input_group_container .input_group_,
.input_group_container .textarea_group_,
.input_group_container .textarea_group_ .input_textarea,
.custome_select,
.custome_select .type_select,
.custome_select #country,
.custome_date_input,
.custome_date_input .type_date,
.custome_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm_radius {
  border-radius: 4px;
}

.md_radius,
.base_btn,
.selection_chip_group .selection_chip,
.input_group_container .input_group_ .input_type_text,
.input_group_container .textarea_group_ .input_textarea,
.custome_select,
.custome_date_input,
.base_btn,
.selection_chip_group .selection_chip,
.input_group_container .input_group_ .input_type_text,
.input_group_container .textarea_group_ .input_textarea,
.custome_select,
.custome_date_input {
  border-radius: 8px;
}

.lg_radius {
  border-radius: 16px;
}

.xl_radius,
.chip_group .chip_,
.chip_group .chip_ {
  border-radius: 32px;
}

.text_upper {
  text-transform: uppercase;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.box_shadow {
  box-shadow: 2px 2px 12px rgba(47, 188, 204, 0.25), 0px 2px 8px rgba(47, 188, 204, 0.25);
}

.accordion_ {
  justify-content: space-between;
  position: relative;
  padding: 16px 64px 16px 24px;
  box-sizing: border-box;
  color: #242330;
}

.accordion_ span {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.accordion_.outline {
  border-bottom: 1px solid #d9dbe9;
}

.accordion_.filled {
  background-color: #f9f9f9;
}

.alert_ {
  justify-content: space-between;
  position: relative;
  padding: 12px 72px 12px 112px;
  box-sizing: border-box;
  color: #242330;
}

.alert_.error_ {
  background-color: rgba(255, 95, 95, 0.001);
  color: #ff5f5f;
}

.alert_.error_ .error_icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.alert_.error_ ._close_btn {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.alert_.success_ {
  background-color: rgba(0, 186, 136, 0.001);
  color: #00ba88;
}

.alert_.success_ .success_icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.alert_.success_ ._close_btn {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.alert_.info_ {
  background-color: rgba(47, 188, 204, 0.001);
  color: #008696;
}

.alert_.info_ .info_icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.alert_.info_ ._close_btn {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.breadcrumbs_ ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
}

.breadcrumbs_ ul li {
  padding: 2px 4px 0 4px;
  position: relative;
  color: #6e7191;
}

.breadcrumbs_ ul li a,
.breadcrumbs_ ul li span {
  color: #6e7191;
  position: relative;
}

.breadcrumbs_ ul li+li {
  padding: 2px 4px 0 14px;
}

.breadcrumbs_ ul li+li:after {
  content: "/";
  position: absolute;
  top: 3px;
  left: 2px;
}

.base_btn {
  cursor: pointer;
  padding: 0 16px;
  box-sizing: border-box;
}

.base_btn.btn_lg {
  height: 56px;
}

.base_btn.btn_md {
  height: 56px;
  height: 48px;
}

.base_btn.btn_sm {
  height: 56px;
  height: 40px;
}

.base_btn.btn_block {
  width: 100%;
}

.base_btn.btn_inline {
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
}

.base_btn.primary_btn {
  background-color: #2fbccc;
  color: #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}

.base_btn.primary_btn:hover {
  box-shadow: 2px 2px 12px rgba(47, 188, 204, 0.0025), 0px 2px 8px rgba(47, 188, 204, 0.0025), inset 4px 4px 40px rgba(0, 0, 0, 0.0008), inset -4px -4px 40px rgba(0, 0, 0, 0.0016);
}

.base_btn.primary_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  color: #6e7191;
  opacity: 0.5;
}

.base_btn.primary_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn.secondary_btn {
  background-color: #e2fafc;
  color: #008696;
  transition: all 0.3s ease-in-out;
}

.base_btn.secondary_btn:hover {
  background-color: #2fbccc;
  color: #1a6770;
}

.base_btn.secondary_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  color: #6e7191;
  opacity: 0.5;
}

.base_btn.secondary_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn.outlined_btn {
  color: #2fbccc;
  border: 1px solid #2fbccc;
  transition: all 0.3s ease-in-out;
}

.base_btn.outlined_btn:hover {
  background-color: #e2fafc;
}

.base_btn.outlined_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  color: #6e7191;
  opacity: 0.5;
  border-color: #d9dbe9;
  background-color: transparent;
}

.base_btn.outlined_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn.text_btn {
  color: #2fbccc;
  transition: color 0.3s ease-in-out;
}

.base_btn.text_btn:hover {
  color: #008696;
}

.base_btn.text_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  opacity: 0.5;
  background-color: transparent;
  color: #6e7191;
}

.base_btn.text_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn.icon_btn {
  height: 40px;
  width: 40px;
  padding: 0px 8px;
  color: #6e7191;
  transition: color 0.3s ease-in-out;
}

.base_btn.icon_btn:hover {
  color: #f9f9f9;
}

.base_btn.icon_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  opacity: 0.5;
  background-color: transparent;
  color: #6e7191;
}

.base_btn.icon_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn .icon_btn {
  display: inline-block;
  vertical-align: middle;
}

.base_btn .icon_btn.icon_btn-left {
  margin-right: 14px;
}

.chip_group {
  justify-content: flex-start;
}

.chip_group .chip_ {
  background-color: #f9f9f9;
  padding: 6px 8px 6px 16px;
}

.chip_group .chip_ span {
  color: #4e4b66;
}

.chip_group .chip_ a {
  margin-left: 8px;
  cursor: pointer;
}

.chip_group .chip_+.chip_ {
  margin-left: 10px;
}

.chip_group .chip_.disabled {
  opacity: 0.5;
}

.chip_group .chip_.disabled a {
  cursor: initial;
}

.selection_chip_group {
  justify-content: flex-start;
}

.selection_chip_group .selection_chip {
  justify-content: flex-start;
  padding: 0 12px;
  box-sizing: border-box;
  border: 1px solid #d9dbe9;
  height: 48px;
  cursor: pointer;
}

.selection_chip_group .selection_chip span {
  color: #6e7191;
}

.selection_chip_group .selection_chip.with_icon .icon_ {
  margin-right: 11px;
}

.selection_chip_group .selection_chip+.selection_chip {
  margin-left: 10px;
}

.selection_chip_group .selection_chip.selected {
  border: 2px solid #2fbccc;
}

.selection_chip_group .selection_chip.selected span {
  color: #2fbccc;
}

.selection_chip_group .selection_chip.selected .icon_ svg path {
  fill: #2fbccc;
}

.password_container {
  width: 320px;
}

.password_container .input_group_container .input_group_ .input_type_text {
  padding-right: 75px;
}

.password_container .showHide_icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.password_container .showHide_icon .show_password {
  display: none;
  justify-content: center;
  align-items: center;
}

.input_group_container {
  justify-content: flex-start;
}

.input_group_container .input_group_ {
  position: relative;
  height: 56px;
  flex-direction: column;
}

.input_group_container .input_group_ .input_type_text {
  color: #6e7191;
  padding: 0 16px;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #d9dbe9;
}

.input_group_container .input_group_ .input_type_text:focus {
  border: 1px solid #2fbccc;
}

.input_group_container .input_group_ .input_type_text:placeholder {
  color: #6e7191;
}

.input_group_container .input_group_:hover .input_type_text {
  color: #4e4b66;
  border: 1px solid #2fbccc;
}

.input_group_container .input_group_:hover .input_type_text:placeholder {
  color: #6e7191;
}

.input_group_container .input_group_:hover .input_type_text .label_ {
  color: #2fbccc;
}

.input_group_container .input_group_ .label_ {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #6e7191;
  transition: all 0.3s ease-in-out;
}

.input_group_container .input_group_ .label_.pushedUp {
  top: 0;
  z-index: 1;
  padding: 0 2px;
  box-sizing: border-box;
}

.input_group_container .input_group_ .label_.pushedUp:before {
  content: "";
  width: 100%;
  background-color: #fff;
  color: #fff;
  position: absolute;
  top: 2px;
  left: 0;
  height: 10px;
  z-index: -1;
}

.input_group_container .input_group_ .label_.pushedUp:after {
  content: "";
  width: 100%;
  background-color: #fff;
  color: #fff;
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 10px;
  z-index: -1;
}

.input_group_container .input_group_.error_ .input_type_text {
  border-color: #ff5f5f;
}

.input_group_container .input_group_.error_ .input_error {
  color: #ff5f5f;
  position: absolute;
  bottom: -24px;
  left: 16px;
}

.input_group_container .input_group_.error_ .label_ {
  color: #ff5f5f;
}

.input_group_container .input_group_.disabled .input_type_text {
  background-color: #f9f9f9;
  pointer-events: none;
}

.input_group_container .input_group_ .input_message {
  color: #a0a3bd;
  position: absolute;
  bottom: -24px;
  left: 16px;
}

.input_group_container .textarea_group_ {
  position: relative;
  flex-direction: column;
}

.input_group_container .textarea_group_ .input_textarea {
  position: relative;
  min-height: 100px;
  flex-direction: column;
  -webkit-appearance: none;
  resize: none;
  vertical-align: top;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid #d9dbe9;
  color: #4e4b66;
}

.input_group_container .textarea_group_ .input_textarea:focus {
  outline: none;
}

.input_group_container .textarea_group_ .label_ {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #6e7191;
}

.input_group_container .textarea_group_.error_ {
  border-color: #ff5f5f;
}

.input_group_container .textarea_group_.error_ .label_ {
  color: #ff5f5f;
}

.input_group_container .textarea_group_ .input_message {
  color: #a0a3bd;
  position: absolute;
  bottom: -24px;
  left: 16px;
}

.custome_select {
  justify-content: flex-start;
  width: 100%;
  position: relative;
  border: 1px solid #d9dbe9;
}

.custome_select .type_select,
.custome_select #country {
  color: #6e7191;
  position: relative;
  height: 56px;
  flex-direction: column;
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
}

.custome_select .type_select:hover,
.custome_select #country:hover {
  outline: none;
}

.custome_select:after {
  width: 12px;
  content: " ";
  background-image: url(/images/select_down_arrow.svg);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
}

.custome_select:before {
  position: absolute;
  width: 48px;
  height: 54px;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  z-index: 0;
}

.custome_select .label_ {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #6e7191;
}

.custome_select.active {
  color: #4e4b66;
  border: 1px solid #2fbccc;
}

.custome_select.active .label_ {
  color: #2fbccc;
}

.custome_select.error_ {
  border-color: #ff5f5f;
  color: #ff5f5f;
}

.custome_select.error_ .label_ {
  color: #ff5f5f;
}

.custome_select.disabled {
  background-color: #f9f9f9;
  pointer-events: none;
}

.custome_date_input {
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  position: relative;
  border: 1px solid #d9dbe9;
}

.custome_date_input .type_date {
  color: #6e7191;
  position: absolute;
  height: 56px;
  flex-direction: column;
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
}

.custome_date_input .type_date:hover {
  outline: none;
  box-shadow: none;
}

.custome_date_input .type_date:focus {
  outline: none;
  box-shadow: none;
}

.custome_date_input:before {
  position: absolute;
  width: 48px;
  height: 54px;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  z-index: 0;
}

.custome_date_input .label_ {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #6e7191;
}

.custome_date_input.active {
  color: #4e4b66;
  border: 1px solid #2fbccc;
}

.custome_date_input.active .label_ {
  color: #2fbccc;
}

.custome_date_input.error_ {
  border-color: #ff5f5f;
  color: #ff5f5f;
}

.custome_date_input.error_ .label_ {
  color: #ff5f5f;
}

.custome_date_input.disabled {
  background-color: #f9f9f9;
  pointer-events: none;
}

.custome_date_input .ui-datepicker-trigger {
  position: absolute;
  right: 0;
}

.custome_input_container {
  position: relative;
  cursor: pointer;
  user-select: none;
  justify-content: flex-start;
  align-items: center;
}

.custome_input_container .input_balel {
  display: block;
  margin-left: 8px;
  color: #4e4b66;
}

.custome_input_container .custome_input_wrapper__ {
  position: relative;
  width: 20px;
  height: 20px;
}

.custome_input_container .custome_input_wrapper__ input {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custome_input_container .custome_input_wrapper__ input:checked~.custome_checkmark {
  background-color: #2fbccc;
  border-color: #2fbccc;
}

.custome_input_container .custome_input_wrapper__ input:checked~.custome_checkmark:after {
  display: block;
}

.custome_input_container .custome_input_wrapper__ .custome_checkmark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background: #2fbccc;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}

.custome_input_container .custome_input_wrapper__.checkbox__ .custome_checkmark:after {
  top: -1px;
  left: 3px;
  width: 5px;
  height: 10px;
  transition: all 0.3s ease-in-out;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  border-radius: 0;
  background: none;
}

.custome_checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
  width: 18px;
  border: 2px solid #d9dbe9;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.custome_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__ .custome_checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
  width: 18px;
  border: 2px solid #d9dbe9;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.checkbox__ .custome_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.divider {
  background-color: #d9dbe9;
}

.divider.vertical_divider {
  height: 100%;
  width: 1px;
}

.divider.horizontal_divider {
  height: 1px;
  width: 100%;
}

.elevation_1 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.elevation_2 {
  box-shadow: 0px 1.25px 4px rgba(0, 0, 0, 0.25);
}

.elevation_3 {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.22);
}

.elevation_4 {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.24);
}

.elevation_5 {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}

.elevation_6 {
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
}

.elevation_7 {
  box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.17);
}

.elevation_8 {
  box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.2);
}

.elevation_9 {
  box-shadow: 0px 13px 36px rgba(0, 0, 0, 0.22);
}

.elevation-1 {
  box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.2);
}

.elevation_primary {
  box-shadow: 2px 2px 12px rgba(47, 188, 204, 0.25), 0px 2px 8px rgba(47, 188, 204, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.d_flex,
.accordion_,
.alert_,
.alert_.error_ .error_icon,
.alert_.success_ .success_icon,
.alert_.info_ .info_icon,
.breadcrumbs_ ul,
.base_btn.btn_lg,
.base_btn.btn_md,
.base_btn.btn_md,
.base_btn.btn_sm,
.base_btn.btn_sm,
.chip_group,
.chip_group .chip_,
.chip_group .chip_ a,
.selection_chip_group,
.selection_chip_group .selection_chip,
.selection_chip_group .selection_chip .icon_,
.password_container .showHide_icon,
.password_container .showHide_icon .hide_password,
.input_group_container,
.input_group_container .input_group_,
.input_group_container .textarea_group_,
.input_group_container .textarea_group_ .input_textarea,
.custome_select,
.custome_select .type_select,
.custome_select #country,
.custome_date_input,
.custome_date_input .type_date,
.custome_input_container,
.accordion_,
.alert_,
.alert_.error_ .error_icon,
.alert_.success_ .success_icon,
.alert_.info_ .info_icon,
.breadcrumbs_ ul,
.base_btn.btn_lg,
.base_btn.btn_md,
.base_btn.btn_md,
.base_btn.btn_sm,
.base_btn.btn_sm,
.chip_group,
.chip_group .chip_,
.chip_group .chip_ a,
.selection_chip_group,
.selection_chip_group .selection_chip,
.selection_chip_group .selection_chip .icon_,
.password_container .showHide_icon,
.password_container .showHide_icon .hide_password,
.input_group_container,
.input_group_container .input_group_,
.input_group_container .textarea_group_,
.input_group_container .textarea_group_ .input_textarea,
.custome_select,
.custome_select .type_select,
.custome_select #country,
.custome_date_input,
.custome_date_input .type_date,
.custome_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm_radius {
  border-radius: 4px;
}

.md_radius,
.base_btn,
.selection_chip_group .selection_chip,
.input_group_container .input_group_ .input_type_text,
.input_group_container .textarea_group_ .input_textarea,
.custome_select,
.custome_date_input,
.base_btn,
.selection_chip_group .selection_chip,
.input_group_container .input_group_ .input_type_text,
.input_group_container .textarea_group_ .input_textarea,
.custome_select,
.custome_date_input {
  border-radius: 8px;
}

.lg_radius {
  border-radius: 16px;
}

.xl_radius,
.chip_group .chip_,
.chip_group .chip_ {
  border-radius: 32px;
}

.text_upper {
  text-transform: uppercase;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.box_shadow {
  box-shadow: 2px 2px 12px rgba(47, 188, 204, 0.25), 0px 2px 8px rgba(47, 188, 204, 0.25);
}

.accordion_ {
  justify-content: space-between;
  position: relative;
  padding: 16px 64px 16px 24px;
  box-sizing: border-box;
  color: #242330;
}

.accordion_ span {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.accordion_.outline {
  border-bottom: 1px solid #d9dbe9;
}

.accordion_.filled {
  background-color: #f9f9f9;
}

.alert_ {
  justify-content: space-between;
  position: relative;
  padding: 12px 72px 12px 112px;
  box-sizing: border-box;
  color: #242330;
}

.alert_.error_ {
  background-color: rgba(255, 95, 95, 0.001);
  color: #ff5f5f;
}

.alert_.error_ .error_icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.alert_.error_ ._close_btn {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.alert_.success_ {
  background-color: rgba(0, 186, 136, 0.001);
  color: #00ba88;
}

.alert_.success_ .success_icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.alert_.success_ ._close_btn {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.alert_.info_ {
  background-color: rgba(47, 188, 204, 0.001);
  color: #008696;
}

.alert_.info_ .info_icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.alert_.info_ ._close_btn {
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.breadcrumbs_ ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
}

.breadcrumbs_ ul li {
  padding: 2px 4px 0 4px;
  position: relative;
  color: #6e7191;
}

.breadcrumbs_ ul li a,
.breadcrumbs_ ul li span {
  color: #6e7191;
  position: relative;
}

.breadcrumbs_ ul li+li {
  padding: 2px 4px 0 14px;
}

.breadcrumbs_ ul li+li:after {
  content: "/";
  position: absolute;
  top: 3px;
  left: 2px;
}

.base_btn {
  cursor: pointer;
  padding: 0 16px;
  box-sizing: border-box;
}

.base_btn.btn_lg {
  height: 56px;
}

.base_btn.btn_md {
  height: 56px;
  height: 48px;
}

.base_btn.btn_sm {
  height: 56px;
  height: 40px;
}

.base_btn.btn_block {
  width: 100%;
}

.base_btn.btn_inline {
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
}

.base_btn.primary_btn {
  background-color: #2fbccc;
  color: #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}

.base_btn.primary_btn:hover {
  box-shadow: 2px 2px 12px rgba(47, 188, 204, 0.0025), 0px 2px 8px rgba(47, 188, 204, 0.0025), inset 4px 4px 40px rgba(0, 0, 0, 0.0008), inset -4px -4px 40px rgba(0, 0, 0, 0.0016);
}

.base_btn.primary_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  color: #6e7191;
  opacity: 0.5;
}

.base_btn.primary_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn.secondary_btn {
  background-color: #e2fafc;
  color: #008696;
  transition: all 0.3s ease-in-out;
}

.base_btn.secondary_btn:hover {
  background-color: #2fbccc;
  color: #1a6770;
}

.base_btn.secondary_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  color: #6e7191;
  opacity: 0.5;
}

.base_btn.secondary_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn.outlined_btn {
  color: #2fbccc;
  border: 1px solid #2fbccc;
  transition: all 0.3s ease-in-out;
}

.base_btn.outlined_btn:hover {
  background-color: #e2fafc;
}

.base_btn.outlined_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  color: #6e7191;
  opacity: 0.5;
  border-color: #d9dbe9;
  background-color: transparent;
}

.base_btn.outlined_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn.text_btn {
  color: #2fbccc;
  transition: color 0.3s ease-in-out;
}

.base_btn.text_btn:hover {
  color: #008696;
}

.base_btn.text_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  opacity: 0.5;
  background-color: transparent;
  color: #6e7191;
}

.base_btn.text_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn.icon_btn {
  height: 40px;
  width: 40px;
  padding: 0px 8px;
  color: #6e7191;
  transition: color 0.3s ease-in-out;
}

.base_btn.icon_btn:hover {
  color: #f9f9f9;
}

.base_btn.icon_btn.disabled {
  background-color: #d9dbe9;
  box-shadow: none;
  opacity: 0.5;
  background-color: transparent;
  color: #6e7191;
}

.base_btn.icon_btn.disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.base_btn .icon_btn {
  display: inline-block;
  vertical-align: middle;
}

.base_btn .icon_btn.icon_btn-left {
  margin-right: 14px;
}

.chip_group {
  justify-content: flex-start;
}

.chip_group .chip_ {
  background-color: #f9f9f9;
  padding: 6px 8px 6px 16px;
}

.chip_group .chip_ span {
  color: #4e4b66;
}

.chip_group .chip_ a {
  margin-left: 8px;
  cursor: pointer;
}

.chip_group .chip_+.chip_ {
  margin-left: 10px;
}

.chip_group .chip_.disabled {
  opacity: 0.5;
}

.chip_group .chip_.disabled a {
  cursor: initial;
}

.selection_chip_group {
  justify-content: flex-start;
}

.selection_chip_group .selection_chip {
  justify-content: flex-start;
  padding: 0 12px;
  box-sizing: border-box;
  border: 1px solid #d9dbe9;
  height: 48px;
  cursor: pointer;
}

.selection_chip_group .selection_chip span {
  color: #6e7191;
}

.selection_chip_group .selection_chip.with_icon .icon_ {
  margin-right: 11px;
}

.selection_chip_group .selection_chip+.selection_chip {
  margin-left: 10px;
}

.selection_chip_group .selection_chip.selected {
  border: 2px solid #2fbccc;
}

.selection_chip_group .selection_chip.selected span {
  color: #2fbccc;
}

.selection_chip_group .selection_chip.selected .icon_ svg path {
  fill: #2fbccc;
}

.password_container {
  width: 320px;
}

.password_container .input_group_container .input_group_ .input_type_text {
  padding-right: 75px;
}

.password_container .showHide_icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.password_container .showHide_icon .show_password {
  display: none;
  justify-content: center;
  align-items: center;
}

.input_group_container {
  justify-content: flex-start;
}

.input_group_container .input_group_ {
  position: relative;
  height: 56px;
  flex-direction: column;
}

.input_group_container .input_group_ .input_type_text {
  color: #6e7191;
  padding: 0 16px;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #d9dbe9;
}

.input_group_container .input_group_ .input_type_text:focus {
  border: 1px solid #2fbccc;
}

.input_group_container .input_group_ .input_type_text:placeholder {
  color: #6e7191;
}

.input_group_container .input_group_:hover .input_type_text {
  color: #4e4b66;
  border: 1px solid #2fbccc;
}

.input_group_container .input_group_:hover .input_type_text:placeholder {
  color: #6e7191;
}

.input_group_container .input_group_:hover .input_type_text .label_ {
  color: #2fbccc;
}

.input_group_container .input_group_ .label_ {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #6e7191;
  transition: all 0.3s ease-in-out;
}

.input_group_container .input_group_ .label_.pushedUp {
  top: 0;
  z-index: 1;
  padding: 0 2px;
  box-sizing: border-box;
}

.input_group_container .input_group_ .label_.pushedUp:before {
  content: "";
  width: 100%;
  background-color: #fff;
  color: #fff;
  position: absolute;
  top: 2px;
  left: 0;
  height: 10px;
  z-index: -1;
}

.input_group_container .input_group_ .label_.pushedUp:after {
  content: "";
  width: 100%;
  background-color: #fff;
  color: #fff;
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 10px;
  z-index: -1;
}

.input_group_container .input_group_.error_ .input_type_text {
  border-color: #ff5f5f;
}

.input_group_container .input_group_.error_ .input_error {
  color: #ff5f5f;
  position: absolute;
  bottom: -24px;
  left: 16px;
}

.input_group_container .input_group_.error_ .label_ {
  color: #ff5f5f;
}

.input_group_container .input_group_.disabled .input_type_text {
  background-color: #f9f9f9;
  pointer-events: none;
}

.input_group_container .input_group_ .input_message {
  color: #a0a3bd;
  position: absolute;
  bottom: -24px;
  left: 16px;
}

.input_group_container .textarea_group_ {
  position: relative;
  flex-direction: column;
}

.input_group_container .textarea_group_ .input_textarea {
  position: relative;
  min-height: 100px;
  flex-direction: column;
  -webkit-appearance: none;
  resize: none;
  vertical-align: top;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid #d9dbe9;
  color: #4e4b66;
}

.input_group_container .textarea_group_ .input_textarea:focus {
  outline: none;
}

.input_group_container .textarea_group_ .label_ {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #6e7191;
}

.input_group_container .textarea_group_.error_ {
  border-color: #ff5f5f;
}

.input_group_container .textarea_group_.error_ .label_ {
  color: #ff5f5f;
}

.input_group_container .textarea_group_ .input_message {
  color: #a0a3bd;
  position: absolute;
  bottom: -24px;
  left: 16px;
}

.custome_select {
  justify-content: flex-start;
  width: 100%;
  position: relative;
  border: 1px solid #d9dbe9;
}

.custome_select .type_select,
.custome_select #country {
  color: #6e7191;
  position: relative;
  height: 56px;
  flex-direction: column;
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
}

.custome_select .type_select:hover,
.custome_select #country:hover {
  outline: none;
}

.custome_select:after {
  width: 12px;
  content: " ";
  background-image: url(/images/select_down_arrow.svg);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
}

.custome_select:before {
  position: absolute;
  width: 48px;
  height: 54px;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  z-index: 0;
}

.custome_select .label_ {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #6e7191;
}

.custome_select.active {
  color: #4e4b66;
  border: 1px solid #2fbccc;
}

.custome_select.active .label_ {
  color: #2fbccc;
}

.custome_select.error_ {
  border-color: #ff5f5f;
  color: #ff5f5f;
}

.custome_select.error_ .label_ {
  color: #ff5f5f;
}

.custome_select.disabled {
  background-color: #f9f9f9;
  pointer-events: none;
}

.custome_date_input {
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  position: relative;
  border: 1px solid #d9dbe9;
}

.custome_date_input .type_date {
  color: #6e7191;
  position: absolute;
  height: 56px;
  flex-direction: column;
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
}

.custome_date_input .type_date:hover {
  outline: none;
  box-shadow: none;
}

.custome_date_input .type_date:focus {
  outline: none;
  box-shadow: none;
}

.custome_date_input:before {
  position: absolute;
  width: 48px;
  height: 54px;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  z-index: 0;
}

.custome_date_input .label_ {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #6e7191;
}

.custome_date_input.active {
  color: #4e4b66;
  border: 1px solid #2fbccc;
}

.custome_date_input.active .label_ {
  color: #2fbccc;
}

.custome_date_input.error_ {
  border-color: #ff5f5f;
  color: #ff5f5f;
}

.custome_date_input.error_ .label_ {
  color: #ff5f5f;
}

.custome_date_input.disabled {
  background-color: #f9f9f9;
  pointer-events: none;
}

.custome_date_input .ui-datepicker-trigger {
  position: absolute;
  right: 0;
}

.custome_input_container {
  position: relative;
  cursor: pointer;
  user-select: none;
  justify-content: flex-start;
  align-items: center;
}

.custome_input_container .input_balel {
  display: block;
  margin-left: 8px;
  color: #4e4b66;
}

.custome_input_container .custome_input_wrapper__ {
  position: relative;
  width: 20px;
  height: 20px;
}

.custome_input_container .custome_input_wrapper__ input {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custome_input_container .custome_input_wrapper__ input:checked~.custome_checkmark {
  background-color: #2fbccc;
  border-color: #2fbccc;
}

.custome_input_container .custome_input_wrapper__ input:checked~.custome_checkmark:after {
  display: block;
}

.custome_input_container .custome_input_wrapper__ .custome_checkmark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background: #2fbccc;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}

.custome_input_container .custome_input_wrapper__.checkbox__ .custome_checkmark:after {
  top: -1px;
  left: 3px;
  width: 5px;
  height: 10px;
  transition: all 0.3s ease-in-out;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  border-radius: 0;
  background: none;
}

.custome_checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
  width: 18px;
  border: 2px solid #d9dbe9;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.custome_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__ .custome_checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
  width: 18px;
  border: 2px solid #d9dbe9;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.checkbox__ .custome_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.divider {
  background-color: #d9dbe9;
}

.divider.vertical_divider {
  height: 100%;
  width: 1px;
}

.divider.horizontal_divider {
  height: 1px;
  width: 100%;
}

.elevation_1 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.elevation_2 {
  box-shadow: 0px 1.25px 4px rgba(0, 0, 0, 0.25);
}

.elevation_3 {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.22);
}

.elevation_4 {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.24);
}

.elevation_5 {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}

.elevation_6 {
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
}

.elevation_7 {
  box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.17);
}

.elevation_8 {
  box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.2);
}

.elevation_9 {
  box-shadow: 0px 13px 36px rgba(0, 0, 0, 0.22);
}

.elevation-1 {
  box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.2);
}

.elevation_primary {
  box-shadow: 2px 2px 12px rgba(47, 188, 204, 0.25), 0px 2px 8px rgba(47, 188, 204, 0.25);
}