<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="casio_lottery_order_placed_observer" instance="Casio\LotterySale\Observer\OrderSavedAfterObserver"/>
    </event>
    <event name="sales_quote_item_collection_products_after_load">
        <observer name="add_casio_lottery_sales" instance="Casio\LotterySale\Observer\AddCasioLotterySalesObserver"/>
    </event>
    <event name="catalog_product_collection_load_after">
        <observer name="add_casio_lottery_sales" instance="Casio\LotterySale\Observer\AddCasioLotterySalesObserver"/>
    </event>
</config>
